@import "tailwindcss";

/* index.css */
@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


/* تخصيص الـ Scrollbar للـ Webkit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    /* عرض الـ scrollbar رفيع جداً */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    /* الخلفية شفافة عشان ما يضايقش العين */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(100, 116, 139, 0.2);
    /* لون رمادي خفيف وشفاف */
    border-radius: 10px;
    /* حواف مدورة */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 116, 139, 0.5);
    /* يتقل شوية لما تقف عليه */
}